@tailwind base;
@tailwind components;
@tailwind utilities;

.SOFT_LEFT {

    height: calc(100% - 320px);

}

.BG_LEFT {

    background-size: 100% 100%;

}

.WORK_CONT {

    height: calc(100% - 80px);

}