@tailwind base;
@tailwind components;
@tailwind utilities;

.SOFT_LEFT {

    height: calc(100% - 320px);

}

.BG_LEFT {

    background-size: 100% 100%;

}

.WORK_CONT {

    height: calc(100% - 80px);

}

.REACT_CONT {

    height: calc(100% - 372px);

}

.tree_container {

    height: calc(100% - 80px);

}

#diagonalFourthCSS {

    transform: rotate(-45deg);
}
  
  #outline {
    fill: none;
    stroke:#fae8ff;
    stroke-dasharray:100%;
    stroke-dashoffset:0;
    animation-name: outline;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }
  
  #fill {
    fill-opacity: 0;
    fill: #fae8ff;
    animation-name: fill;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
  }
  
  
  @keyframes outline{
    from{
      stroke-dashoffset:100%;
    }
    
    to{
      stroke-dashoffset:0;
      opacity: 0;
    }
  }
  
  @keyframes fill{
    from{
      fill-opacity: 0;
    }
    
    to{
      fill-opacity: 1;
    }
  }


  #outline2 {
    fill: none;
    stroke:#fae8ff;
    stroke-dasharray:100%;
    stroke-dashoffset:0;
    animation-name: outline;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }
  
  #fill2 {
    fill-opacity: 0;
    fill:#fae8ff;
    animation-name: fill;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
  }
  
  
  @keyframes outline2{
    from{
      stroke-dashoffset:100%;
    }
    
    to{
      stroke-dashoffset:0;
    }
  }
  
  @keyframes fill2{
    from{
      fill-opacity: 0;
    }
    
    to{
      fill-opacity: 1;
    }
  }


